body {
	background-color: #1A1A1D;

}
form {
	text-align: center;
	color: white;
}
input {
	color: white;
	font-size: 16pt;
	height: 40px;
	width: 250px;
	border-radius: 5px;
	background: linear-gradient(90deg, rgba(111,34,50,1) 0%, rgba(133,19,58,1) 47%, rgba(195,7,63,1) 100%);
}
input[type = "submit"] {
	width: 150px;
	color: white;
}