a {
    font-size:24px;
    font-weight:700;
    font-family: Inter;
}
p {
    font-size: 24px;
    font-family: Roboto;
}
h1 {
    font-family: Roboto-b;
    font-size: 50px;
    font-weight: 500;
}
header {
    background-color: #f4f1f1;
    border-bottom-left-radius: 45em 17em;
    border-bottom-right-radius: 45em 17em;
}
footer {
    background-color: #d9d9d9;
    font-family: Inter;
}
.foo-txt {
    color: #000;
    font-size: 20px;
}
.superNav {
    font-size:13px;
}
.form-control {
    outline:none !important;
    box-shadow: none !important;
}
@media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
    .smth {
        width: 350px;
        height: 350px;
    }
    .foo-txt {
        font-size: 14px;
    }
    .logo-foo {
        width: 100px;
        height: 100px;
    }
    input[type="text"]:focus:hover {
        width: 25px;
    }
    input[type="text"] {
        font-size: 14px;
    }
}
.dropdown-item { 
    width: max-content !important;
} 
.sliders-menu {
    width: 500px;
    background-color: #d9d9d9;
}
.sliders {
    background-color: #d9d9d9;
}
.dropdown-menu p {
    font-family: Roboto-b;
}
input[type="checkbox"] {
    padding-bottom: 15px;
}
.items {
    padding-bottom: 10px;
    column-count: 2;
    max-width: 150px;
    width: 100%;
}
.items-diag {
    column-count: 3;
    max-width: 200px;
    width: 100%;
}
.items-cam {
    padding-bottom: 10px;
    column-count: 1;
    max-width: 163px;
    width: 100%;
}
.items-cr {
    padding-bottom: 10px;
    column-count: 2;
    max-width: 200px;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 20px;
}
/***************************************/
#wrap {
    display: inline-block;
    position: relative;
    padding: 0;
    position: relative;
}
form.search-form {
    background: none;
    width: 0;
}  
input[type="text"] {
    height: 40px;
    font-size: 24px;
    display: inline-block;
    font-family: Inter;
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}
  
input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}
  
input[type="text"]:focus {
    background-color: #d9d9d9;
    border-radius: 25px;
    width: 750px;
    z-index: 1;
    cursor: text;
}
input[type="submit"] {
    height: 35px;
    width: 35px;
    display: inline-block;
    color:red;
    background: url(images/search.svg) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}
  
input[type="submit"]:hover {
    opacity: 0.8;
}
/**/
select {
    background-color: #f4f1f1;
}
/***/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
/*стили выше добавлены только для этого примера, в реальном проекте используйте normilize.css\reset.css*/
#moduleSearchCountry {
    display: inline-block;
    position: relative;  
}
#fieldSearch,
#blockListCountry {
    border: none;
}
#blockListCountry {
    display: none;
    position: absolute;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
    background-color: #D9D9D9;
}
#listCountry {
    list-style: none;
    text-align: left;
    cursor: default;
}
.elem-list-country {  
    color: #000; 
    display: none;
}
.elem-list-country:hover {
    background: #BDBDBD;
}
/**/
.hidden {
    display: none;
}
form {
    font-family: Inter;
    padding: 20px;
    background-color: white;
    max-width: 320px;
}
input {
    background-color: #F0F0F0;
    border: none;
}
/**/
.popup1, .popup2, .popup3, .popup4 {
    font-size: 14px;
}
.logIn {
    height: 25px;
    width: 100px;
    border-radius: 10px;
    background-color: #15C37C;
    font-size: 14px;
    color: white;
    border: none;
}
.logIn-text {
    font-family: Inter-b;
    font-size: 18px;
}
.logIn-txt {
    font-family: Inter;
    font-size: 14px;
}
.google {
    background-color: #FFFFFF;
    width: 200px;
}
.btn-text {
    font-family: Inter;
    font-size: 14px;
}
/*********/
/* Fonts */
/*********/
@font-face {
    font-family: Inter; /* Гарнитура шрифта */
    src: url(fonts/Inter-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Inter-b; /* Гарнитура шрифта */
    src: url(fonts/Inter-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto-b; /* Гарнитура шрифта */
    src: url(fonts/Roboto-Bold.ttf); /* Путь к файлу со шрифтом */
}