*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
/*стили выше добавлены только для этого примера, в реальном проекте используйте normilize.css\reset.css*/
body {
  text-align: center;
  padding-top: 100px;
}
#moduleSearchCountry {
  display: inline-block;
  position: relative;  
}
#fieldSearch,
#blockListCountry {
  border: 2px solid #000;
  width: 200px;
}
#blockListCountry {
  display: none;
  position: absolute;
  z-index: 99;
  max-height: 200px;
  overflow-y: auto;
}
#listCountry {
  list-style: none;
  text-align: left;
  cursor: default;
}
.elem-list-country {   
  display: none;
}
.elem-list-country:hover {
  background: #BDBDBD;
}